backend/.git
frontend/node_modules
frontend/swaasthya-saathi-frontend/node_modules
frontend/swaasthya-saathi-frontend/.git
frontend/swaasthya-saathi-frontend/dist
node_modules
backend/node_modules
backend/.env